{
  "root": true,
  "extends": ["josa-typescript"],
  "env": {
    "mocha": true
  },
  "rules": {
    "no-extra-semi": "error",
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true
      }
    ]
  }
}
